h1{ 
    background-color: lightblue;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.crystals{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    


}

.crystal{
    border: 1px solid green;
    height: 200px;
    width: 200px;
}

.instructions{
    background:lightskyblue;
    margin: 10px;
    height: 300px;
    width:  400px;
    text-align: justify;
    font-family: sans-serif;
    font-size: 16px;

}

#win {
    background: green;
    height: 50px;
    width:  50px;
    margin: 10px;
}

#loss {
    background: red;
    height: 50px;
    width:  50px;
    margin: 10px;
}

#previous {
    background: lightcoral;
    height: 50px;
    width:  50px;
    margin: 10px;
}
